* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: $text-color;
  text-decoration: none;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  @include clearfix;
  background: darken($navbar, 10%);
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../public/assets/img/bg.png");
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 100%;
  align-self: center;
  opacity: 0.5;
}
