@import url("https://fonts.googleapis.com/css?family=Ubuntu");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #FFF;
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background: #1c1b1b;
  background-image: url("../../public/assets/img/bg.png");
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: block; }

hr {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0.5; }

.navbar {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
  width: 100%;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75); }
  @media only screen and (max-width: 915px) {
    .navbar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100%;
      padding-bottom: 5px; } }
  .navbar ul {
    list-style: none;
    padding: 0;
    width: 53%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media only screen and (max-width: 915px) {
      .navbar ul {
        width: 70%; } }
    @media only screen and (max-width: 705px) {
      .navbar ul {
        width: 97%; } }
    @media only screen and (max-width: 350px) {
      .navbar ul {
        font-size: 13.5px; } }
    .navbar ul li {
      text-transform: uppercase; }
      .navbar ul li a {
        -webkit-transition: background 250ms ease-in-out;
        transition: background 250ms ease-in-out;
        padding: 20px; }
        .navbar ul li a:hover {
          background: #7024a3; }
        @media only screen and (max-width: 915px) {
          .navbar ul li a {
            padding: 2px 10px; } }
  .navbar img {
    height: 5rem; }

.footer {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #353535;
  text-align: center; }
  .footer::after {
    clear: both;
    content: "";
    display: block; }

.img-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .img-gallery [class*="big-img-"] {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media only screen and (max-width: 915px) {
      .img-gallery [class*="big-img-"] {
        height: 15rem; } }
    @media only screen and (max-width: 705px) {
      .img-gallery [class*="big-img-"] {
        height: 12rem; } }
  .img-gallery [class*="small-img-"] {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media only screen and (max-width: 915px) {
      .img-gallery [class*="small-img-"] {
        height: 15rem; } }
    @media only screen and (max-width: 705px) {
      .img-gallery [class*="small-img-"] {
        height: 12rem; } }

.big-img-1 {
  content: "";
  background-image: url("../../public/assets/img/jon-w.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.big-img-2 {
  content: "";
  background-image: url("../../public/assets/img/rafferty.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.small-img-1 {
  content: "";
  background-image: url("../../public/assets/img/nariko.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.small-img-2 {
  content: "";
  background-image: url("../../public/assets/img/andie-m.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.small-img-3 {
  content: "";
  background-image: url("../../public/assets/img/barbra-h.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.small-img-4 {
  content: "";
  background-image: url("../../public/assets/img/jake-s.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.link-tiles {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media only screen and (max-width: 705px) {
    .link-tiles {
      display: block; } }
  .link-tiles .tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
    .link-tiles .tile:hover {
      -webkit-transform: scale(1.15);
              transform: scale(1.15); }
    @media only screen and (max-width: 915px) {
      .link-tiles .tile {
        width: 30%;
        height: 370px; } }
    @media only screen and (max-width: 705px) {
      .link-tiles .tile {
        width: 100%; } }
    .link-tiles .tile h2 {
      font-size: 2.6rem; }
      @media only screen and (max-width: 915px) {
        .link-tiles .tile h2 {
          font-size: 2rem; } }

#o-m-link {
  content: "";
  background-image: url("../../public/assets/img/avalon.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

#show-link {
  content: "";
  background-image: url("../../public/assets/img/dinah-f.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

#link-link {
  content: "";
  background-image: url("../../public/assets/img/nick-p.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.top-img {
  height: 650px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  .top-img .top-text {
    font-size: 3rem; }
  @media only screen and (max-width: 915px) {
    .top-img {
      height: 500px; }
      .top-img .top-text {
        font-size: 2rem; } }
  @media only screen and (max-width: 705px) {
    .top-img {
      height: 400px; }
      .top-img .top-text {
        font-size: 2rem; } }

#open-mic-img {
  content: "";
  background-image: url("../../public/assets/img/rochelle-c.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  #open-mic-img .top-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }

#showcases-img {
  content: "";
  background-image: url("../../public/assets/img/tony-c.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  #showcases-img .top-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }

#links-img {
  content: "";
  background-image: url("../../public/assets/img/dma.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  #links-img .top-text {
    margin-top: 8%; }

.display {
  margin-top: 15px;
  line-height: 1.75;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%; }
  .display a {
    text-decoration: underline; }
    .display a:hover {
      color: #8c2ecc; }
  @media only screen and (max-width: 705px) {
    .display h1 {
      font-size: 1.5em; }
    .display h2 {
      font-size: 1.25em; }
    .display p, .display h4 {
      font-size: 1em; } }

.contact-us {
  text-align: center; }

.showcase-bookings {
  margin-top: 15px;
  text-align: left; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navbar ul li a {
  border-radius: 10%; }

.contact-us, .showcase-bookings {
  -ms-flex-item-align: center;
      align-self: center;
  line-height: 1.75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%; }
  .contact-us a, .showcase-bookings a {
    text-decoration: underline; }
    .contact-us a:hover, .showcase-bookings a:hover {
      color: #8c2ecc; }
  @media only screen and (max-width: 705px) {
    .contact-us p, .showcase-bookings p, .contact-us h4, .showcase-bookings h4 {
      font-size: 1em; } }

.page-title {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  position: absolute;
  width: 75%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  z-index: 1;
  font-size: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black; }
  @media only screen and (max-width: 915px) {
    .page-title {
      font-size: 4rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; } }
  @media only screen and (max-width: 705px) {
    .page-title {
      width: 98%;
      font-size: 3rem; } }

.top-text {
  font-size: 3rem; }

button {
  color: #353535;
  border-radius: 10px;
  box-shadow: none; }
