//===Home Page===
.img-gallery {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
    [class*="big-img-"]{
      flex: 2;
      height: 20rem;
      @media only screen and (#{$break-tablet}) {
        height: 15rem;
      }
      @media only screen and (#{$break-mobile}) {
        height: 12rem;
      }
      display: flex;
      justify-content: flex-start;
    }
    [class*="small-img-"] {
      flex: 1;
      height: 20rem;
      @media only screen and (#{$break-tablet}) {
        height: 15rem;
      }
      @media only screen and (#{$break-mobile}) {
        height: 12rem;
      }
      display: flex;
      justify-content: flex-start;
    }
}
.big-img-1{
  @include background-img("../../public/assets/img/jon-w.jpg");
}

.big-img-2{
  @include background-img("../../public/assets/img/rafferty.jpg");
}

.small-img-1{
  @include background-img("../../public/assets/img/nariko.jpg");
}
.small-img-2{
  @include background-img("../../public/assets/img/andie-m.jpg");
}
.small-img-3{
  @include background-img("../../public/assets/img/barbra-h.jpg");
}
.small-img-4{
  @include background-img("../../public/assets/img/jake-s.jpg");
}

.link-tiles {
  margin: 5% 0;
  display: flex;
  height: 100%;
  justify-content: space-around;
  @media only screen and (#{$break-mobile}) {
    display: block;
  }
  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 25%;
    flex-basis: 25%;
    transition: all 250ms ease-in-out;
    &:hover {
      transform: scale(1.15);
    }
    @media only screen and (#{$break-tablet}) {
      width: 30%;
      height: 370px;
    }
    @media only screen and (#{$break-mobile}) {
      width: 100%;
    }
    h2 {
      font-size: 2.6rem;

      @media only screen and (#{$break-tablet}) {
        font-size: 2rem;

      }

    }

  }
}
#o-m-link {
  @include background-img('../../public/assets/img/avalon.jpg');
}
#show-link {
  @include background-img('../../public/assets/img/dinah-f.jpg');
}
#link-link {
  @include background-img('../../public/assets/img/nick-p.jpg');
}


//===Open Mic, Showcase, Links Pages===

//==Top displays==
.top-img {
  height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  .top-text {
    font-size: 3rem;
  }
  @media only screen and (#{$break-tablet}) {
    height: 500px;
    .top-text {
      font-size: 2rem;
    }
  }

  @media only screen and (#{$break-mobile}) {
    height: 400px;
    .top-text {
      font-size: 2rem;
    }
  }

}
#open-mic-img {
  @include background-img("../../public/assets/img/rochelle-c.jpg");
  .top-text {
    align-self: center;
    // margin-top: 20%;
  }
}
#showcases-img {
  @include background-img("../../public/assets/img/tony-c.jpg");
  .top-text {
    align-self: center;
  }
}
#links-img {
  @include background-img("../../public/assets/img/dma.jpg");
  .top-text {
    @extend %links-hero-text;
  }
}
//==Text displays==
.display {
  // align-self: center;
  margin-top: 15px;
  line-height: 1.75;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  a {
    text-decoration: underline;
    &:hover {
      color: lighten($accent-color, 20%);
    }
  }

  @media only screen and (#{$break-mobile}) {
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.25em;
    }
    p, h4 {
      font-size: 1em;
    }
  }
}

.contact-us{
  @extend %info-div;
  text-align: center;
}

.showcase-bookings {
  margin-top: 15px;
  @extend %info-div;
  text-align: left;
}

// Links Main Page
.links-main {
  margin-top: 10px;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-content: center;
  @media only screen and (#{$break-mobile}) {
    display: block;
  }
}
.menu-tile {
  margin: 10px 10px 15px 10px;
  height: 50vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  transition: all 250ms ease-in-out;
  &:hover {
    transform: scale(1.1);
    @media only screen and (#{$break-tablet}) {
      transform: scale(1.05);
    }
  }
  a {
    text-align: center;
  }
  // @media only screen and (#{$break-tablet}) {
  //   width: 100vw;
  // }
  @media only screen and (#{$break-mobile}) {
    margin: 0;
    width: 100vw;
    height: 50vh;
    font-size: 0.95em;
  }
}

#contact {
@include background-img("../../public/assets/img/alex-falcone.jpg");
}

#submitMic {
@include background-img("../../public/assets/img/melody.jpg");
}
#media {
@include background-img("../../public/assets/img/media-mic.jpg");
}
#resources {
@include background-img("../../public/assets/img/nicky-moon.jpg");
.top-text {
  @extend %links-hero-text;
}
}
