%border-radius {
  border-radius: 10%;
}

%info-div {
  align-self: center;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  // margin-bottom: 10px;
  a {
    text-decoration: underline;
    &:hover {
      color: lighten($accent-color, 20%);
    }
  }
  @media only screen and (#{$break-mobile}) {
      p, h4 {
      font-size: 1em;
    }
}
}

%links-hero-text {
  margin-top: 8%;
  font-size: 5rem;
  @media only screen and (#{$break-tablet}) {
    font-size: 3rem;
  }
  @media only screen and (#{$break-mobile}) {
    margin-top: 18%;
    font-size: 2rem;
  }
}
