.navbar {
  background-color: $navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  // width: 100vw;
  // margin-bottom: 20px;
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.75);
  @media only screen and (#{$break-tablet}) {
    flex-direction: column;
    height: 100%;
    padding-bottom: 5px;
  }
  ul {
    list-style: none;
    padding: 0;
    width: 53%;
    display: flex;
    justify-content: space-around;
    @media only screen and (#{$break-tablet}) {
      width: 70%;
    }
    @media only screen and (#{$break-mobile}) {
      width: 97%;
    }
    li {
      text-transform: uppercase;
      a {
        transition: background 250ms ease-in-out;
        padding: 20px;
        @extend %border-radius;

      &:hover {
        background: lighten($accent-color, 10%);
        }
        @media only screen and (#{$break-tablet}) {
          padding: 2px 10px;
      }
    }
    }
  }
  img {
    height: 5rem;
  }
}
