.page-title {
  text-align: center;
  position: absolute;
  width: 75%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  z-index: 1;
  font-size: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparentize($accent-color, 0.5);
  border-radius: 10px;
  @media only screen and (#{$break-tablet}) {
    font-size: 3rem;
  }
  @media only screen and (#{$break-mobile}) {
    width: 85%;
    left: 6%;
    right: 6%;
  }
}
