.page-title {
  text-align: center;
  position: absolute;
  width: 75%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  z-index: 1;
  font-size: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
  // background-color: transparentize($accent-color, 0.5);
  // border-radius: 10px;
  @media only screen and (#{$break-tablet}) {
    font-size: 4rem;
    -webkit-text-stroke: 1.5px black;
  }
  @media only screen and (#{$break-mobile}) {
    width: 98%;
    font-size: 3rem;

  }
}
